In [3]:
import pandas as pd

In [6]:
table = {
    'A': [270, 285, 289, 279, 297],
    'B': [282, 275, 280, 288, 265],
    'C': [280, 278, 300, 296, 289],
    'D': [295, 299, 270, 300, 289]
}

pd.DataFrame(table)

     A    B    C    D
0  270  282  280  295
1  285  275  278  299
2  289  280  300  270
3  279  288  296  300
4  297  265  289  289

In [11]:
# Total GERAL
G = 0

# R numero de reprodutores
r = len(table)

# K numero de filhos por reprodutor
k = len(table['A'])

soma_quadrados = 0
# Somamos os elementos das tabela
for i in table:
    for j in table[i]:
        G += j
        soma_quadrados += (j * j)


# Fator de correção
C = (G * G) / (r * k)

SQtotal = soma_quadrados - C


print('G é o total geral')    
print(f'G = {G}')
print(f'r = {r}\nk = {k}')
print(f'C = ({G} * {G}) / ({r} * {k}) = {C}')
print(f'{soma_quadrados} - {C} = {SQtotal} \nSQTotal = {SQtotal}')

G é o total geral
G = 5706
r = 4
k = 5
C = (5706 * 5706) / (4 * 5) = 1627921.8
1630082 - 1627921.8 = 2160.1999999999534
SQTotal = 2160.1999999999534